<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.actaholding.mediaplayer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
                android:name="br.com.actaholding.mediaplayer.FullscreenVideoActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
                android:supportsPictureInPicture="true"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"
                android:resizeableActivity="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>